* {
   scroll-behavior: smooth;
}

#name {
    display: inline;
    font-size: 100%;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

header {
    font-family: sans-serif;
    background-color: white;
    color: black;
}

header nav {
    float: right;
    font-family: sans-serif;
    font-size: 100%;
    text-align: center;
}

main {
    background-color: black;
    color: white;
}

.project {
    display: inline-flex;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.projname {
    display: inline-flex;
}

.yr {
    display: inline-flex;
}

.footer-link {
    float: right;
}

footer {
    font-family: sans-serif;
    background-color: white;
    color: black;
}